.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
freqtrade.egg-info

config.json*
*.sqlite
user_data
*.log

.vscode
.mypy_cache
.ipynb_checkpoints

**/__pycache__
**/.git
**/.gitignore
**/tests
**/*.pyc
**/*.pyo
**/*.pyd
.Python
.env
.venv
env/
venv/
ENV/
user_data/logs/*
user_data/data/*
.pytest_cache
__pycache__
.DS_Store
.idea/
!user_data/data/.gitkeep
